.useSection {
  padding: 4rem 0;
}

.list {
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
}

.list li {
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
  list-style: none;
}

.image {
  width: 200px;
  height: auto;
  margin: 0 auto 1rem;
}
